html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Open Sans','Raleway', sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  background-color: #1c2431;
  color: white;
  height: 300vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  bottom: 70%;
  right: 0;
  z-index: -1;
  background-position: 0 100%;
  background-image: url("/Challenge-1/images/bg-curvy-mobile.svg");
  background-size: 130%;
  background-repeat: no-repeat;
  overflow: hidden;
}

body::after {
  content: "";
  position: absolute;
  background-color: #181f2a;
  top: 90vh;
  bottom: -200vh;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (min-width: 40em) {
  body::after {
    content: "";
    position: absolute;
    background-color: #181f2a;
    top: 136vh;
    left: 0;
    right: 0;
    z-index: -1;
  }
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 54%;
    right: 0;
    z-index: -1;
    background-position: 0 100%;
    background-image: url("/Challenge-1/images/bg-curvy-desktop.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

a, a:hover, a:visited {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 2.375rem;
    padding-bottom: 2.375rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.container--px {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
}

@media (min-width: 64em) {
  .container--px {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.container--py {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 2.375rem;
    padding-bottom: 2.375rem;
  }
}

.container--pt {
  padding-top: 1.5625rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 2.375rems;
  }
}

.container--pl {
  padding-left: 1.5625rem;
}

@media (min-width: 64em) {
  .container--pl {
    padding-left: 2.5rem;
  }
}

.container--pb {
  padding-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 2.375rem;
  }
}

.container--pr {
  padding-right: 1.5625rem;
}

@media (min-width: 64em) {
  .container--pr {
    padding-right: 2.5rem;
  }
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.button, button {
  cursor: pointer;
  color: white;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  padding: 0.8125rem  3.125rem;
  border-radius: 25px;
  transition: all 300ms ease-in-out;
  opacity: 0.75;
  overflow: hidden;
}

.button:hover, button:hover {
  opacity: 1;
}

.containers {
  align-items: center;
  text-align: center;
  padding-top: 2rem;
}

@media (min-width: 64em) {
  .containers {
    padding-top: 0.7rem;
  }
}

.header {
  color: white;
  font-size: 0.75rem;
}

.header__container {
  margin: 0 auto;
}

.header__logo img {
  height: 1.75rem;
  width: 5.625rem;
}

.header__menu a {
  color: white;
}

.header__menu a:not(:last-child) {
  margin-right: 1.875rem;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero__image img {
  width: 18.9375rem;
  height: auto;
}

@media (min-width: 40em) {
  .hero__image img {
    width: 27.5rem;
    height: auto;
  }
}

.hero__content {
  margin: 0 auto;
  width: 18.9375rem;
}

@media (min-width: 40em) {
  .hero__content {
    width: 27.5rem;
  }
}

.hero__content:not(:last-child) {
  margin-bottom: 1.1875rem;
}

.hero__content h2 {
  font-weight: 700;
  font-size: 1.75em;
  margin-bottom: 1.1875rem;
}

.hero__content p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.cards {
  padding-top: 7.4375rem;
}

.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (min-width: 40em) {
  .cards__container {
    max-width: 40rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}

.cards__card {
  width: 19rem;
  padding-bottom: 5.625rem;
}

@media (min-width: 40em) {
  .cards__card:nth-child(odd) {
    padding-right: 3rem;
  }
}

.cards .logo {
  width: auto;
  height: 5rem;
}

.productive__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
}

@media (min-width: 64em) {
  .productive__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex: 1 1 1;
  }
}

.productive__image img {
  max-width: 85%;
  height: auto;
}

.productive__content {
  width: 25rem;
}

@media (min-width: 64em) {
  .productive__content h2 {
    font-size: 2rem;
  }
}

.productive__content a {
  font-size: 1rem;
  color: #65e2d9;
  border-bottom: 2px solid #65e2d9;
}
/*# sourceMappingURL=style.css.map */