html{
    font-size: 100%;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    position: relative;
    margin:0;
    padding: 0;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: $font-med;
    line-height: 1.5;
    background-color: $darkBlueSingUp;
    color: $white;
    height: 300vh;
   
    

      
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: -40%;
            bottom: 70%;
            right: 0;
            z-index: -1;
            background-position: 0 100%;
            background-image:url('../images/bg-curvy-mobile.svg');
            
            background-size:130% ;
            background-repeat: no-repeat;
            overflow: hidden;
          
        }
        &::after{
            content: "";
            position: absolute;
            background-color: $darkBlueMain;
            top: 90vh;
            bottom: -264vh;
            left: 0;
            right: 0;
            @include breakpoint-up(medium){
                bottom: -234vh;
            }
           @include breakpoint-up(large){
               bottom: -100vh;
           }
            z-index: -1;
        }
        @include breakpoint-up(medium){
            &::after{
                content: "";
                position: absolute;
                background-color: $darkBlueMain;
                top: 136vh;
               
                left: 0;
                right: 0;
                z-index: -1;
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 54%;
                right: 0;
                z-index: -1;
                background-position: 0 100%;
                background-image:url('../images/bg-curvy-desktop.svg');
                
                background-size:100% ;
                background-repeat: no-repeat;
              
            }
        }

      
}
a,a:hover,a:visited{
    text-decoration: none;
}

h1,h2,h3{
    font-family: 'Raleway' , sans-serif;
    font-weight: 700;
}

.container{
    max-width:69.375rem ;
    margin:0 auto;
    
   
    
    
    &--pall{
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
        padding-top:1.5625rem ;
        padding-bottom:1.5625rem ;
        @include breakpoint-up(large){
            padding-top: 2.375rem;
            padding-bottom:2.375rem ;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
    &--px{
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
        @include breakpoint-up(large){
            padding-right: 2.5rem;
            padding-left: 2.5rem;
        }
    }
    &--py{
        padding-top:1.5625rem;
        padding-bottom:1.5625rem ;
        @include breakpoint-up(large){
            padding-top:2.375rem;
            padding-bottom:2.375rem ;
        }

    }
    &--pt{
        padding-top:1.5625rem ;
        @include breakpoint-up(large){
            padding-top: 2.375rems;
           
        }
    }
    &--pl{
        padding-left: 1.5625rem;
        @include breakpoint-up(large){
            padding-left: 2.5rem;
        }
    }
    &--pb{
        padding-bottom:1.5625rem ;
        @include breakpoint-up(large){
            
            padding-bottom:2.375rem;
        }
    }
    &--pr{
        padding-right: 1.5625rem;
        @include breakpoint-up(large){
            padding-right: 2.5rem;
        }
    }
}
.flex{
    display: flex;
    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
}
.button,button{
    cursor: pointer;
    color: white;
    background: linear-gradient(to right ,$cyan,$blue);
     padding:0.8125rem  3.125rem;
    border-radius: 25px;
    transition: all 300ms ease-in-out;
   opacity: 0.75 ;
   overflow: hidden;
    &:hover{
        opacity: 1;
    }
}
.containers{
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    @include breakpoint-up(large){
        padding-top:0.7rem;
    }
    
}