.header{
    color:$white;
    font-size: $font-med;
   
    &__container{
        
        margin:0 auto ;

      
        
    }
    &__logo{
       img{
           cursor: pointer;
        height:1.75rem ;
        width:5.625rem ;
        
       }
    }

    &__menu{
       
        a{
           
            color: white;
            transition: all 200ms ease-in-out;
           &:hover{
               color: $cyan;
           }
            &:not(:last-child){
                margin-right: 1.875rem;
            }
        }
        
    }
}