.productive{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        flex-wrap: nowrap;
     
        @include breakpoint-up(large){
            flex-direction: row;
            justify-content: space-between;
            
            
            
           
            flex: 1 1 1;

        }
        
    }
    &__image{
        text-align: center;
        img{
            max-width: 85%;
            height: auto;

        }
    }
    &__content{
        width: 25rem;
        text-align: left;

        h2{
           

            @include breakpoint-up(medium){
                width: 90%;
                font-size: 2rem;
                line-height: 1.3;
                margin-bottom: 0;
            }
        }
        a{
           font-size: 1rem;
           
            color: $cyan;
            border-bottom: 2px solid $cyan;
            span{
                
                vertical-align: middle;
            }
        }
    }
}