// colors 
$darkBlueSingUp: hsl(217, 28%, 15%);
$darkBlueMain:hsl(218, 28%, 13%);
$darkBlueFooter :hsl(216, 53%, 9%);
$darkBluetest:hsl(219, 30%, 18%);

//Accent
$cyan :hsl(176, 68%, 64%);
$blue:hsl(198, 60%, 50%);
$white :hsl(0, 0%, 100%);

//font size
 $font-sm:0.5rem;
$font-med:0.75rem;
$font-large:1.3125rem;